@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    
    .adjustable-text-size{
        @apply text-3xl xl:text-6xl lg:text-5xl md:text-3xl sm:text-3xl;
    }
    .adjustible-image-size{
        @apply w-20 xl:w-40 lg:w-32 md:w-20 sm:w-20
    }
    .toggle-visibility{
        @apply hidden md:block 
    }
    .adjustible-padding{
        @apply pl-0 pt-24 md:px-24 sm:py-24 
    }
    .shadow-bottom{
        box-shadow: 0 8px 8px 0px rgba(0,0,0,0.07);
    }
    .shadow-right{
        box-shadow: 8px 0px 16px 4px rgba(0, 0, 0, 0.07);
    }
    .shadow-left{
        box-shadow: -8px 0px 16px 4px rgba(0, 0, 0, 0.1);
    }

    /*doesnt work*/
    .textShadow{
        text-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 1);
    }
    .pt-half{
        padding-top: 50%;
    }
    .custom-text-color{
        @apply bg-gradient-to-r from-fuchsia-400 via-pink-100 to-fuchsia-400 bg-clip-text text-transparent
    }
   
}

  /* Optional: Firefox custom scrollbar styles */
  * {
    scrollbar-width:thin; /* Change the width as needed */
    scrollbar-color: #4a044e #701a75; /* Change the thumb and track colors as needed */
    
}
  